:root {
    --color-bg: #252a33;
    --color-text: #eee;
    --color-text-subtle: #a2a2a2;
}

.termynal {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 18px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    padding: 45px 0 15px 45px;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.termynal__header {
    display: flex;
    position: relative;
    top: -30px;
}

.termynal__dots {
    content: '';
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    left: -30px;
    border-radius: 50%;
    /* A little hack to display the window buttons in one pseudo element. */
    background: #d9515d;
    -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
            box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

.termynal__bash {
    content: 'bash';
    position: relative;
    color: var(--color-text-subtle);
    left: 0;
    width: 100%;
    text-align: center;
}

.termynal__inner {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}